.SideBar {
  position: fixed;
  width: 100%;
  height: calc(100vh - 80px);
  background-color: rgba(215, 230, 215, 0.5);
  left: 0;
  top: 60px;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  z-index: 10;
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  -o-transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
  overflow: auto;
  padding: 20px 0 80px;
}

.SideBar.open {
  transform: translateX(0);
  opacity: 1;
}
